@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
h1,
h3 {
  margin: 0;
  padding: 0;
}
.header {
  height: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin-top: 10px;
}
.header__icon {
  width: 70%;
  height: 70%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.header__icon:hover {
  background-color: #e8f5fe;
}
.header__icon i {
  color: #1da1f2;
  font-size: 24px;
}
.header__menu {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 30px;
  justify-self: center;
}
.header__menu:hover {
  background-color: #e8f5fe;
}
.header__menu i {
  color: #1da1f2;
  font-size: 32px;
}
.header__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search input {
  height: 35px;
  width: 95%;
  padding-left: 50px;
  border: 0px solid #000;
  border-radius: 40px;
  background-color: #e6ecf0;
  outline: none;
}
.header__search i {
  position: absolute;
  left: 18%;
  font-size: 22px;
  opacity: 0.4;
}
.nav {
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(5, 90px) 130px;
  overflow: scroll;
}
.nav__forYou {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__trends {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__news {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__sports {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__fun {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__entertainment {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.trends {
  margin-top: 30px;
  background-color: #e6ecf0;
}
.trends__principal {
  position: relative;
  width: 100%;
  height: 200px;
}
.trends__principal--img {
  position: absolute;
  width: 100%;
  height: 200px;
}
.trends__principal--container {
  position: relative;
  height: 200px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
}
.trends__principal--span {
  padding: 0 20px;
  color: #fff;
  position: absolute;
  bottom: 80px;
}
.trends__principal--title {
  padding: 0 20px;
  color: #fff;
  position: absolute;
  bottom: 30px;
  font-weight: 900;
}
.trends__today {
  width: 100%;
  height: 90px;
  padding: 10px 0 0 0;
  border-bottom: 11px solid #e6ecf0;
}
.trends__today--topic,
.trends__today--tweetsCount {
  opacity: 0.7;
  font-size: 14px;
}
.trends__today--title {
  margin: 2px 0;
  font-size: 16px;
}
.trends__today--details {
  display: flex;
  justify-content: space-between;
}
.container {
  background-color: #fff;
  padding: 10px 14px 0 14px;
  height: 100%;
}
