@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap");
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
input {
  margin: 0;
  padding: 0;
}
.headerLarge,
.explore,
.form,
.footer--large {
  display: none;
}
.trends {
  margin-bottom: 50px;
}
.header {
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  margin-top: 4px;
}
.header__icon {
  width: 70%;
  height: 70%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.header__icon:hover {
  background-color: #e8f5fe;
}
.header__icon i {
  color: #1da1f2;
  font-size: 24px;
}
.header__menu {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 30px;
  justify-self: center;
}
.header__menu:hover {
  background-color: #e8f5fe;
}
.header__menu i {
  color: #1da1f2;
  font-size: 32px;
}
.header__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search input {
  height: 35px;
  width: 95%;
  padding-left: 50px;
  border: 0px solid #000;
  border-radius: 40px;
  background-color: #e6ecf0;
  outline: none;
}
.header__search i {
  position: absolute;
  left: 18%;
  font-size: 22px;
  opacity: 0.4;
}
.nav {
  width: 100vw;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(5, 90px) 130px;
  overflow: scroll;
}
.nav__forYou {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__trends {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__news {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__sports {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__fun {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.nav__entertainment {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 900;
  opacity: 0.6;
}
.trends {
  background-color: #e6ecf0;
}
.trends__principal {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 12px;
}
.trends__principal--img {
  position: absolute;
  width: 100%;
  height: 200px;
}
.trends__principal--container {
  position: relative;
  height: 200px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
}
.trends__principal--span {
  padding: 0 20px;
  color: #fff;
  position: absolute;
  bottom: 80px;
}
.trends__principal--title {
  padding: 0 20px;
  color: #fff;
  position: absolute;
  bottom: 30px;
  font-weight: 900;
}
.trends__today {
  width: 100%;
  height: 80px;
  border-bottom: 11px solid #e6ecf0;
}
.trends__today--topic,
.trends__today--tweetsCount {
  opacity: 0.7;
  font-size: 14px;
}
.trends__today--title {
  margin: 2px 0;
  font-size: 16px;
}
.trends__today--details {
  display: flex;
  justify-content: space-between;
}
.container {
  background-color: #fff;
  padding: 10px 14px 0 14px;
  height: 100%;
}
.container i {
  opacity: 0.4;
}
.footer {
  display: none;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #e6ecf0;
}
.footer__container {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.footer__container--login {
  height: 53%;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  font-weight: 900;
  font-size: 14px;
}
.footer__container--register {
  height: 53%;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  border-radius: 50px;
  background-color: #1da1f2;
  color: #fff;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
}
@media screen and (min-width: 767px) {
  .header {
    max-width: 600px;
    margin: 10px auto 0 auto;
  }
  .header__search {
    position: relative;
  }
  .header__search i {
    left: 4%;
  }
  .nav {
    overflow-x: hidden;
    font-weight: 800;
    justify-content: center;
  }
  .container__trends {
    display: flex;
    justify-content: space-around;
    margin-top: 4px;
    border-top: 2px solid #f5f8fa;
  }
  .trends {
    width: 600px;
    margin-top: 0;
  }
  .footer__container {
    max-width: 600px;
    margin: 0 auto;
  }
  body {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1023px) {
  .header {
    max-width: 1024px;
    height: 55px;
    position: fixed;
    grid-template-columns: 10% 50% 50%;
    margin: 0;
    border-bottom: 1px solid #f5f8fa;
    background-color: #fff;
    z-index: 3;
  }
  .header__icon i {
    font-size: 30px;
  }
  .header__menu {
    display: none;
  }
  .headerLarge {
    width: 100%;
    height: inherit;
    height: 53%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 50px;
  }
  .headerLarge__container {
    height: 53%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 50px;
  }
  .headerLarge__container--login {
    height: 53%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 50px;
    width: 30%;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    font-weight: 900;
    font-size: 14px;
  }
  .headerLarge__container--register {
    height: 53%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 50px;
    width: 30%;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #1da1f2;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    background-color: #1da1f2;
    margin-left: 10px;
  }
  .nav {
    display: none;
  }
  .explore {
    position: relative;
    width: 600px;
    height: 70px;
    display: grid;
    top: 60px;
    margin: 0 20px 70px 20px;
    grid-template-rows: 50% 50%;
  }
  .explore__titles {
    display: flex;
    justify-content: space-between;
  }
  .explore__titles--title {
    font-size: 18px;
    font-weight: 900;
    padding-left: 10px;
  }
  .explore__titles i {
    color: #1da1f2;
    font-size: 26px;
    width: 30px;
    height: 30px;
  }
  .explore__navbar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 90px) 160px;
  }
  .nav__forYou,
  .nav__trends,
  .nav__news,
  .nav__sports,
  .nav__entertainment,
  .nav__fun {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;
    font-weight: 900;
    opacity: 0.6;
  }
  .container__trends {
    width: 1200px;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: none;
    margin-left: 20px;
  }
  .form {
    width: 348px;
    height: auto;
    position: fixed;
    display: inline;
    right: 30px;
    top: 76px;
    border: 2px solid #f5f8fa;
    border-radius: 12px;
  }
  .form__description {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form__description--image {
    margin: 0 auto;
  }
  .form__description--image img {
    width: 226px;
    height: 226px;
  }
  .form__description--span {
    font-size: 18px;
    font-weight: 800;
  }
  .form__login {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .form__login--label {
    background-color: #f5f8fa;
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
    opacity: 0.7;
  }
  .form__login--user,
  .form__login--password {
    height: 25px;
    outline: none;
    font-size: 18px;
    background-color: #f5f8fa;
    padding-left: 10px;
    border: 0;
    border-bottom: 1px solid #000;
  }
  .form__login--forgotPassword {
    font-size: 14px;
    color: #1da1f2;
    margin: 8px 0;
  }
  .form__login--button {
    height: 53%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 50px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    font-weight: 900;
    font-size: 14px;
    background-color: #fff;
  }
  .form__login--register {
    height: 53%;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    border-radius: 50px;
    width: 90%;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #1da1f2;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    background-color: #1da1f2;
  }
  .form__login span {
    margin: 10px 0;
    text-align: center;
  }
  .footer--large {
    display: flex;
    width: 290px;
    position: fixed;
    bottom: 30px;
    right: 65px;
    z-index: 100;
    font-size: 13px;
    opacity: 0.7;
  }
  .footer--large__links a {
    padding: 10px;
  }
  .footer--large__links a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1439px) {
  .containerXl {
    width: 100vw;
    height: 57px;
    position: fixed;
    background-color: #fff;
    border-bottom: 2px solid #f5f8fa;
    z-index: 3;
  }
  .header {
    margin: 0 16%;
    border-bottom: 0;
  }
  .containerXl-principal {
    width: 100vw;
    position: absolute;
    padding: 0 16%;
  }
  .form {
    right: 12%;
  }
  .footer--large {
    right: 16%;
  }
}
