mixinButtonsHeader()
    height: 53%
    width: 90%
    display: flex
    justify-content: center
    justify-self: center
    align-self: center
    align-items: center
    border-radius: 50px

mixinButtonsStyles(fontcolor)
    mixinButtonsHeader()
    width: 30%;
    height 30px
    border-radius: 50px;
    border: 1px solid #1da1f2;
    color: fontcolor;
    font-weight: 900;
    font-size: 14px;