@import "./bin/_stylDefault.styl"
@import "./bin/_mixins.styl"
@import "./bin/_variables.styl"
@import "./layout/_header.styl"
@import "./layout/_navbar.styl"
@import "./layout/_trends.styl"
@import "./layout/_footer.styl"

@media screen and (min-width: 767px)
    @import "./mediaQueries/medium/_headerMedium.styl"
    @import "./mediaQueries/medium/_navbarMedium.styl"
    @import "./mediaQueries/medium/_trendsMedium.styl"
    body
        overflow-x: hidden