.header
    height: 60px
    width: 100%
    display: grid
    grid-template-columns: 15% 70% 15%
    &__icon i
        padding: 15px 10px
        color: color-principal
        font-size: 24px
    &__search
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        & input
            height: 35px
            width: 95%
            padding-left: 50px
            border: 0px solid black
            border-radius: 40px
            background-color: rgb(230, 236, 240)
            outline: none
        & i
            position: absolute
            left: 18%
            font-size: 22px
            opacity: 0.4
