.nav
    width: 100vw
    height: 50px
    display: grid
    grid-template-columns: repeat(5, 90px) 130px
    overflow: scroll
    &__forYou
        mixinBoxNavbar()
    &__trends
        mixinBoxNavbar()
    &__news
        mixinBoxNavbar()
    &__sports
        mixinBoxNavbar()
    &__fun
        mixinBoxNavbar()
    &__entertainment
        mixinBoxNavbar()