.containerXl
    width: 100vw
    height 57px
    position: fixed
    background-color: white
    border-bottom: 2px solid form-opacity
    z-index 3

.header
    margin: 0 16%
    border-bottom: 0

.containerXl-principal
    width: 100vw
    position: absolute
    padding: 0 16%

.form
    right: 12%

.footer--large
    right 16%