.header
    max-width 1024px
    height: 55px
    position: fixed
    grid-template-columns: 10% 50% 50%
    margin: 0
    border-bottom: 2px solid form-opacity
    background-color: white
    z-index 3
    &__icon i
        font-size: 30px
    &__menu
        display: none
    &Large
        width: 100%
        height: inherit
        mixinButtonsHeader()
        &__container
            mixinButtonsHeader()
            &--login
                mixinButtonsStyles(#1da1f2)
            &--register
                mixinButtonsStyles(#fff)
                background-color: #1da1f2;
                margin-left: 10px