.container__trends
    width: 1200px
    height auto
    display: grid
    grid-template-columns: 50% 50%
    border-top: none
    margin-left: 20px

.form
    width: 33%
    height auto
    position: fixed
    right: 30px
    top: 76px
    border: 2px solid form-opacity
    border-radius: 12px
    &__description
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
        &--image
            margin: 0 auto
            img
                width: 226px
                height: 226px
        &--span
            font-size: 18px       
            font-weight: 800
    &__login
        display: flex
        flex-direction: column
        padding: 10px
        &--label
            background-color: form-opacity
            font-size: 14px
            padding: 10px
            margin-top: 20px
            opacity 0.7
        &--user, &--password
            height 25px
            outline: none
            font-size: 18px
            background-color: form-opacity
            padding-left: 10px
            border: 0
            border-bottom: 1px solid black
        &--forgotPassword
            font-size: 14px
            color: color-principal
            margin: 8px 0
        &--button
            mixinButtonsStyles(color-principal, width: 90%, height: 40px)
            background-color: white
        &--register
            mixinButtonsStyles(white, width: 90%, height: 40px)
            background-color: color-principal
        span 
            margin: 10px 0
            text-align: center

.footer--large
    display: flex
    width: 290px
    position fixed
    bottom: 30px
    right: 65px
    z-index 100
    font-size: 13px
    opacity 0.7
    &__links a
        padding: 10px
        &:hover
            text-decoration: underline